@charset "utf-8";
/* CSS Document */
body{
	background-color:antiquewhite;
}


h1 {
	color:#2E1616;
	text-align: center;
}


p{
	color:saddlebrown;
	text-align: right
}


a{
	text-decoration: none;
}


#firstp{
	color: rosybrown;
	line-height: 10;
}

#secondp{
	color:maroon;
	line-height:5;
}

.darkcyan{
	color: darkcyan
}


.indianred{
	color: indianred
}


	